<h1>Look, ma! I'm writing HTML</h1>
<p>adding in a paragraph</p>
<!-- # /first is considered the relative route -->
<a href="/first">click here for first</a>
<a href="/second">click here for second</a>

<!-- How to embed ruby. use:  -->
<!-- <%  %> -->
<!-- using erb tags... -->
<!-- 1. to do something -->
<!-- 2. to print something to browser use = equal sign-->
<!-- using puts will only show on the console. used for debugging -->
<!-- most of the time using erb you will print things. -->

<h1><%= Time.now %></h1>
<p><%= 1 + 1 %></p>
