<h1 class="title grid_12 omega">{ LIA KITAMURA }</h1>
  <img class="grid_4 alpha"src="http://placekitten.com/g/290/290" alt="placekitten" />
  <img class="mid grid_4"src="http://placekitten.com/g/290/290" alt="placekitten" />
  <img class="grid_4 omega"src="http://placekitten.com/g/290/290" alt="placekitten" />

<img class="grid_4 alpha"src="http://placekitten.com/g/290/290" alt="placekitten" />
<img class="mid grid_4"src="http://placekitten.com/g/290/290" alt="placekitten" />
<img class="grid_4 omega"src="http://placekitten.com/g/290/290" alt="placekitten" />

<img class="grid_4 alpha"src="http://placekitten.com/g/290/290" alt="placekitten" />
<img class="mid grid_4"src="http://placekitten.com/g/290/290" alt="placekitten" />
<img class="grid_4 omega"src="http://placekitten.com/g/290/290" alt="placekitten" />
