<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"
    <title></title>
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
    <script charset="utf-8"></script>
  </head>
  <body class="container">
    <nav class="nav grid_12 alpha">
      <a class="grid_4 alpha" href="/">Home</a>
      <a class="grid_4" href="/about">About</a>
      <a class="grid_4 omega" href="/resume">Resume</a>
    </nav>
    <%= yield %>

  </body>
    <footer>Made by Lia</footer>
</html>
