<h1>All about Dogs</h1>

<div id="kitty">
  <img src="http://placekitten.com/g/300/300" alt="placekitten" />
  <img id="k2" src="http://placekitten.com/g/300/300" alt="placekitten" />
  <img src="http://placekitten.com/g/300/300" alt="placekitten" />
</div>
