<!DOCTYPE html>
<html>
  <head>
    <title><%= @dogs %></title>
  </head>

  <body>
    <p>The current time is: </p>
    <h1>Hybrid Animals for sale</h1>
    <p>We have the largest variety of hybrid animals. We are Awesome!</p>
    <h2>Dog Hybrids</h2>
      <ol>
        <li>CatDog</li>
        <li>SheepDog</li>
        <li>BirdDog</li>
      </ol>
    <h2>Rabbit Hybrids</h2>
      <ol>
        <li>FerretRabbit</li>
        <li>RatRabbit</li>
        <li>MiniDogRabbit</li>
      </ol>

  </body>
</html>
