<!DOCTYPE html>
<html>
  <head>
    <title><%= @form %></title>
  </head>

  <body>
    <h1><code>Special Portal</code></h1>
    <h2>As you can <sub>see</sub> its very <sup>special</sup></h2>

    <form action="/form" method="post">
      <p>Super Special inputer -><input type="text" name="special">
      <input type="submit">
    </form>

    
    <a href="/">Home</a>
    <a href="/two">Two</a>
  </body>

</html>
