<!DOCTYPE html>
<html>
  <head>
    <meta charset= "UTF-8" />
    <title>Home</title>
  </head>

  <body>
      <h1>LIA.KITAMURA.</h1>

      <p>My name is lia. Click on stuff because they are there<p>
      <ol>
        <li><a href="/">Home</a></li>
          <ul>
            <li>You are home now. But you sure can click on it.</li>
            <li>Go on click me</li>
          </ul>
        <li><a href="/two">Two</a></li>
          <ul>
            <li>Check out some way awesome stuff on level two.</li>
            <li>Or continue to level three for even more coolness</li>
          </ul>
        <li><a href="/three">Three</a></li>
          <ul>
            <li>Coolness through this portal.</li>
            <li>:)</li>
          </ul>
      </ol>


  </body>

</html>
