<!DOCTYPE html>
<html>
  <head>
    <title><%= @three %></title>
  </head>

  <body>
    <h1><code>Special Portal</code><%= @three %></h1>
    <h2>As you can <sub>see</sub> its very <sup>special</sup></h2>

    <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
      <input type="range" id="a" value="50"> 100
      + <input type="number" id="b"value="50">
      =<output name="x" for="a b"></output>
    </form>

  <!-- if input is > then 50 say something  -->
    <!-- <% if input#a > 50 %> -->

    <a href="/">Home</a>
    <a href="/two">Two</a>
  </body>

</html>
