<!DOCTYPE html>
<html>
  <head>
    <title><%= @two %></title>
  </head>

  <body>
    <h2>Hi you are on <%= @two %></h2>
    <h1>THE TIME IS NOW! HURRY</h1>
    <%= t = Time.now.asctime %>

    <a href="/">Home</a>
    <a href="/form">specialness</a>
  </body>

</html>
